body {
  width: 800px;
  margin: auto;
}

img {
  margin: 20px 20px;
}

pre, code, var, samp, kbd, .mono {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    line-height: 1.4;
    font-size: 14px;
    background-color: #F7F7F7;
}
