body {
    width: 800px;
    margin: auto;   /* centering content */
}

li {
    margin-bottom: 5px;
}
li:first-child {    /* this syntax doesn't work at IE (maybe) */
    margin-top: 5px;
}

img {
    margin: 20px 0 20px 0;
}

pre, code, var, samp, kbd, .mono {
    font-family: Consolas, 'Courier New', Courier, Monaco, monospace;
    line-height: 1.4;
    font-size: 14px;
    background-color: #F7F7F7;
}
